@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color-body: #e0e3ec;
    --bg-color-navlink: #fcfcfc94;
    --black: black;
    --white: white;

    --font-family: "Raleway", sans-serif;
    --font-weight: 600;
    --font-style: normal;
}

body{
    background-color: var(--bg-color-body);
}


/*=== Menu ===*/
.header{
    width: 100vw;
}

.navbar{
    margin: 0 4rem 0 4rem;
}

.nav-link{
    border-radius: 1rem;
    transition: background-color 1s;
    padding: 0.5rem;
}

.nav-link:hover{
    background-color: var(--bg-color-navlink);
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}


/*=== Responsive===*/
@media(max-width:480px){
    /*menu*/
    .navbar{
        margin: 0 1rem 0 1rem;
    }
    .navbar-brand img{
        max-height: 1.5rem;
    }
    .navbar-toggler span{
        max-width: 1.5rem;
    }        
    .nav-link{
        font-size: 0.8rem;
    }        
}

@media(max-width:1024px){
    /*menu*/
    .nav-item{
        display: flex;
        justify-content: flex-end;
    }
}

@media(min-width:1920px){
    /*menu*/
    .nav-link {
        font-size: 1.5rem;
    }
    .navbar-brand img { 
        max-height: 3rem; 
    }
}
