@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color-body: #e0e3ec;
    --bg-color-navlink: #fcfcfc94;
    --bg-color-contacto:#efeff3;
    --bg-color-btn: #f3f3f3;
    --black: black;
    --white: white;

    --font-family: "Raleway", sans-serif;
    --font-weight: 600;
    --font-style: normal;
}

body{
    background-color: var(--bg-color-body);
}


/*=== Menu ===*/
.header{
    width: 100vw;
}

.nav-link{
    border-radius: 1rem;
    transition: background-color 1s;
    padding: 0.5rem;
    font-size: 0.8rem; 
}

.nav-link:hover{
    background-color: var(--bg-color-navlink);
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.nav-item{
    display: flex;
    justify-content: flex-end; 
}

.navbar-brand img{
    height: 2rem; 
}

.navbar-toggler span{
    width: 1.5rem;
}


/*=== 404 ===*/
.img-404{
    margin-top: 2rem;
    height: 8rem; 
    object-fit: cover;
}

.text-inicio{
    font-family: var(--font-family);
    font-size: 0.9rem;

    /*Texto con degrade*/
    background-image: linear-gradient(to right, rgb(71, 71, 71), var(--black));
    color: transparent;
    background-clip: text;  
    -webkit-background-clip: text;
}

.btn-homepage{
    background-color: var(--black);
    border: none;
    font-size: 0.9rem;
}

.icon-arrow{
    color: var(--black);
    background-color: var(--white);
    border-radius: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
}

.btn-homepage:hover{
    background-color: var(--white);
    color: var(--black);
    border: none;

    /*cambio color de icon-arrow al hacer hover en btn-homepage*/
    .icon-arrow{
        color: var(--white);
        background-color: var(--black);
    } 
}  


/*=== Footer ===*/
.contacto{
    background-color: var(--bg-color-contacto);
    box-shadow: 0px 15px 30px 1px rgba(31, 31, 31, 0.15);
}

.ubicacion, .phone, .email{
    font-size: 0.9rem;
}

.icon{
    transition: background-color 1s;
}

.icon:hover{
    background-color: var(--black);
}

.img-icon{
    transition: filter 1s; 
    width: 18px;
    height: 18px;
}

/*Invierto colores svg*/
.icon:hover .img-icon {
    filter: invert(1); 
}

.list-group-item{
    border: none;
    background-color: var(--bg-color-body);
}

.icon-link{
    text-decoration: none;
    color: var(--black);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: 13px;
    transition: background-color 1s;
    border-radius: 1rem;
    padding: 0.5rem;
}

.icon-link:hover{
    background-color: var(--bg-color-navlink);
}

.btn-awesomic{
    background-color: var(--bg-color-btn); 
    box-shadow: 0px 15px 30px 1px rgba(31, 31, 31, 0.15);
    border: none;
    transition: background-color 1s;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.btn-awesomic:hover{
    background-color: var(--white);
}


/*=== Responsive===*/
@media(min-width:480px){
    .img-404{
        height: 11rem; 
    }
    .text-inicio{
        font-size: 1.2rem;
    }
    .btn-homepage{
        font-size: 1rem;
    }

    .ubicacion, .phone, .email{
        font-size: 1rem;
    }
}

@media(min-width:768px){
    .navbar-brand img{
        height: 2.5rem; 
    }
    .navbar-toggler span{
        width: 2rem;
    }
    .nav-link{
        font-size: 1rem; 
    }

    .img-404{
        height: 15rem; 
    }
    .text-inicio{
        font-size: 1.5rem;
    }
    .btn-homepage{
        font-size: 1rem;
    }

    .btn-awesomic{
        font-size: 1rem;
        margin-right: 1rem;
    }
}

@media(min-width:1024px){
    .btn-awesomic{
        margin-right: 6rem;
    }
}

@media(min-width:1280px){
    .navbar{
        margin: 0 4rem 0 4rem;
    }

    .ubicacion{
        font-size: 0.95rem;
    }
    .phone-email{
        padding: 0rem;
    }
    .img-icon{
        width: 16px;
        height: 16px;
    }
    .btn-awesomic{
        margin-right: 1rem;
    }
}

@media(min-width:1440px){
    .ubicacion{
        font-size: 1rem;
    }
    .img-icon{
        width: 18px;
        height: 18px;
    }
    .btn-awesomic{
        margin-right: 3rem;
    }
}

@media(min-width:1920px){
    .nav-link{
        font-size: 1.5rem;
    }
    .navbar-brand img{
        max-height: 3rem;
    }


    .img-404{
        height: 26rem;
    }
    .text-inicio{
        font-size: 1.5rem;
    }
    .btn-homepage{
        font-size: 1.5rem;
    }
    .icon-arrow{
        width: 2.5rem;
        height: 2.5rem;
    }


    .ubicacion{
        font-size: 20px;
    }
    .img-icon{
        width: 20px;
        height: 20px;
    }
    .icon-link{
        font-size: 15px;
    }
    .btn-awesomic{
        margin-right: 9rem;
    }
}
